:root{
  --primary: #6caef0;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body{
  color: var(--secondary);
  background-color: #d8d6d6;
}
.Gallery{
  max-width: 960px;
  margin: 0 auto;
}
/* Header */
.textBox {
  padding: 50px;
  text-align: center;
}
.textBox h1 {
  font-size: 40px;
}
.textBox span {
  font-size: 20px; 
  text-align: center;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #4e4e4e;
  border-radius: 10%;
  margin: 10px auto;
  line-height: 44px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  background-color: #4e4e4e;
}
label:hover{
  background: white;
  color: #4e4e4e;
  border: 3px solid white ;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--secondary);
  margin-top: 20px;
}

/* image box styles */
.img-box{
  margin: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
  border-radius: 2%;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 110%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2%;
}
img {
  border-radius: 4%;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 100px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}