
.intro_container {
    position: relative;
    /* width: 1300px; */
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.intro_box {
    position: relative;
    /* max-width: 1300px; */
    max-width: 100%;
    margin: 100px;
    padding: 40px;
    display: flex;
    
}

.intro_img {
    max-width: 300px;
    flex: 0 0 300px;
    
}


.intro_img img{
    width: 100%;
    border-radius: 5%;
}

.intro_content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    
}
.intro_content > h2 {
    font-size: 30px;
    line-height: 100px; 
}

.intro_content > p {
    line-height: 25px; 
    font-size: 18px;
    line-height: 1.8rem;
}

@media screen and (max-width: 960px) {
    .intro_container {
        flex-direction: column;
        width: 100%;
    }
    .intro_box {
        display: block;
        margin: auto;
        padding: auto;
        flex-direction: column;
        max-width: 480px;
    }
    .intro_img {
        max-width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    .intro_content {
        /* width: 140%; */
        margin-left: -16%;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .intro_container {
        flex-direction: column;
        width: 100%;
    }
    .intro_box {
        display: block;
        margin: auto;
        padding: auto;
        flex-direction: column;
        max-width: 1500px;
    }
    .intro_img {
        max-width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    .intro_content {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

