body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    color: black;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 0 80px;
    box-sizing: border-box;
    transition: .5s;
}

nav.black{
    background: rgba(0,0,0,0.8);
    padding: 0 50px;
}

nav .logo{
    padding: 20px 20px;
    height: 15px;
    float: left;
    font-size:20px;
    transition: .3s;
}
nav .logo a{
    color: black;
    text-decoration: none;
}
nav.black .logo a{
    color: #ffffff;
}

nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding:0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 16px;
    line-height: 70px;
    color: black;
    padding: 15px 30px;
    transition: .5s;
}
nav ul li a:link{
    text-decoration: none;
}

nav.black ul li a{
    color: #ffffff;
}

nav ul li a:focus{
    outline: none;
}


.box{
    padding: 200px; 
    /* box-sizing: border-box; */
    display: flex; 

}
.box .imgbox{
    width: 500px;
    flex: 0 0 300px;
}
.box .imgbox img{
    max-width: 100%;
}

.box .content{
    padding-left: 100px;
}

.footer{
    color: #ffffff;
    padding:10px;
    background-color: rgb(40,40,40);
    text-align: center;
    border-top: 2px solid #ffffff;
}
.footer span{
    margin-left: 30px;
    font-size: 12px;

}

.sm ul li{
    display: inline;
    display: inline-flex;
    width: 40px;
    height: 20px;
    color: white;
    margin: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 25px;
}
.sm ul li a{
    color: #ffffff;
}

@media (max-width: 500px) {

    nav {
        padding: 0 20px;
    }
    
    nav.black{
        background: rgba(0,0,0,0.8);
        padding: 0 20px;
    }
    
    nav .logo{
        padding: 20px 20px;
    }
    .sm ul li{
        margin: 10px 15px 0 0;
        width: 30px;
        height: 10px;
    }
    .box{
        padding: 80px; 
        /* box-sizing: border-box; */
        display: flex; 
    
    }
    .box .imgbox{
        width: auto;
        height: 100%;
        /* flex: 0 100px 0; */
    }
    .box .imgbox img{
        padding-left: 5%;
        max-width: 100%;
        padding-right: 100px;
    }
    
    .box .content{
        padding-left: 20px;
        font-size: smaller;
    }
    .box .content h2 {
        font-size: 24px;
    }
}